# keyboard commands

In [54]:
# A - Upwards
# B - Downwards
# D - two times D - to delete
# Z - Undo
# x - Cut
# v - Paste
# Hastag in front of any line, that basically become a comment.

## Arithematic Operators in Python

1) Addition
2) Subtraction
3) Multiplication
4) Division
5) Floor Division
6) Modulus
7) Exponentiation

In [57]:
#Addtion
3 + 4

7

In [59]:
# Addtion
3+4

7

In [72]:
# Best way 
# a, b, c are letters in english but when it comes to python, it is reffered as Variable
a = 3877987
b = 4889
c = a + b
c

3882876

In [61]:
# Subtraction
10-7

3

In [63]:
10 - 7

3

In [76]:
a = 10
b = 7
c = a - b
c

3

In [84]:
# Multiplication
a = 3
b = 4
a * b

12

In [90]:
a = 384754985749
b = 402935820598
c = a * b
c

155031565911945110657902

In [94]:
c = 3 * 4
c

12

In [100]:
# two number: 5 & 10
a = 5
b = 10
c = a * b
c

50

In [102]:
# Four numbers: 2, 3, 4, 5
a = 2
b = 3
c = 4
d = 5
e = a * b * c * d
e

120

In [106]:
# Division: 10 by 3
a = 10
b = 3
c = a/b
c

3.3333333333333335

In [122]:
# Divide 100 by 7
x = 1000
y = 7
z = x / y
z

142.85714285714286

In [124]:
# Floor Division
a = 10 
b =  3
c = a // b
c

3

In [126]:
# Floor Division
x = 10
y = 7
z= x//y
z

1

In [128]:
# Modulus - It gives you the remainder

a = 10
b = 3
c = a % b
c

1

In [132]:
# Modulus - It gives you the remainder

a = 10
b = 7
c = a % b
c

3

In [134]:
# Exponential (**)
a = 2
b = 3
c = a**b # 2^3 = 2*2*2
c

8

In [136]:
# Exponential (**)
a = 4
b = 1
c = a**b # 4^1 = 4
c

4

In [139]:
b = 2
# The variable b will always take the most recent value.
b

2

In [143]:
A = 3
B = 5
C = A + B
C

8

In [145]:
# a is not same a A
r = 45
R

# Lesson: Python is case sensitive which means: R is differnt from r.
# Similarly A is differnt from a

NameError: name 'R' is not defined