# Data types in python

# Variables can store different data types and different types can do different things.
## Python has the following data types 
1) Number Type:        int, float, complex
2) Text Type:          str
3) Sequence Data Type: list, tuple
4) Mapping Data Type:   dict
5) Set Type:           set
6) Boolean type:       bool

# 1. Numerical Data type

In [381]:
#1.1 Integer
#1.2 Float
#1.3 Complex number

In [383]:
# Integer

a = 10
print(type(a))

<class 'int'>

In [385]:
# Integer

a = 11
b = 2
c = a*b
print(type(c))

<class 'int'>

In [387]:
# Float: any number that has decimal point
a = 3.14
print(type(a))

<class 'float'>

In [389]:
b = 100.15
print(type(b))

<class 'float'>

In [391]:
# complex number
a = 3 + 1j
print (type(a))

<class 'complex'>

In [393]:
# complex: iota (Square root of -1) -> j

b = 4 - 2j
print(type(b))
print(b)

<class 'complex'>
(4-2j)

In [395]:
a = 4 + 2j
b = 4 - 2j
print(a)
print(b)
print(type(a))

(4+2j)
(4-2j)
<class 'complex'>

In [397]:
print(a,b)

(4+2j) (4-2j)

In [399]:
# Summarize
a = 10 # integer
b = 10.15 # float
c = 10 + 1j # complex

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# 2. String

In [402]:
# String are nothing but text data type
# A string in python is a sequence of character enclosed by single '', double"", triple''' '''.
# String is immutable data type meaning it's value cannot be changed after creation

In [404]:
a = 'Hello'

print (a)
type(a)

Hello

str

In [406]:
a = " hello "
type (a)

str

In [408]:
a = "' hello'"
type (a)

str

In [410]:
a = "Hey! I did't complete my assignment"
a

"Hey! I did't complete my assignment"

In [412]:
a =  ''' "Hard work beats talent when talent does not work hard" '''
a

' "Hard work beats talent when talent does not work hard" '

In [414]:
a = "Hey! I did't complete my assignment"
a

"Hey! I did't complete my assignment"

In [416]:
a = 'Hello'

print(type(a))
print (a)

<class 'str'>
Hello

In [418]:
a = '4'
type(a)

str

In [420]:
a == 4

False

In [208]:
a

'4'

In [66]:
# Strings are immutable: it cannot be changed once it is created.
a = "Hello"
a[0] = "R"

TypeError: 'str' object does not support item assignment

In [70]:
# Strings are immutable: it cannot be changed once it is created.
a = "Lady"
a[-1] = 'Y'

TypeError: 'str' object does not support item assignment

In [210]:
# integer and string are not the same

## Indexing and Slicing in String

In [213]:
# IMP LESSON: Indexing in python starts from 0

In [231]:
# B here is at 0th position
# e is at 1st position
# a is at 2nd position

In [ ]:
# Lesson: when we got from left to rifht: indexing starts from 0
# But when we go from right to left: indexing starts from -1, -2 , so on

In [259]:
a = 'Beautiful'
print(a[0]) # calling out a character at a specific index

B

In [265]:
a = 'Beautiful'
a[-1]

'l'

In [267]:
a[-2]

'u'

In [233]:
a[0] # we will always use [] square brackets to call any character.

'B'

In [220]:
print(a[1])

e

In [222]:
print(a[2])

a

In [224]:
print(a[3])

u

In [235]:
a[7]

'u'

In [237]:
print(a[1])

e

In [239]:
print(a[2])

a

In [243]:
x = 'Empty'
print(x[0]) # In variable x, we are calling the element at 0th position
print(x[1]) # In variable x, we are calling the element at 1th position
print(x[2]) # In variable x, we are calling the element at 2th position
print(x[3]) # In variable x, we are calling the element at 3th position
print(x[4]) # In variable x, we are calling the element at 4th position

E
m
p
t
y

In [285]:
# Lesson: when we slice, we enter [start:end] -> print [start:end-1]
# [0:3] -> [0:2]
# slicing: a [start:end:default=1]

In [249]:
z = 'Amazing'
z[0:3]

'Ama'

In [257]:
z[3:7]

'zing'

In [277]:
a = 'selfless'
print(a[4:8])

less

In [275]:
print(a[4:]) # when we don't mention anything, it means print up till end

less

In [279]:
print(a[6:])

ss

In [281]:
print(a[0:4])

self

In [283]:
print(a[:4])

self

In [289]:
a = 'Amazing'
a[0::2]

'Aaig'

In [291]:
a[0:5:2]  #0,2,4

'Aai'

In [293]:
x = 'Prettylady'
print(x[0:6:2])

Pet

In [295]:
# Summarize

In [297]:
# Indexing in python starts from 0
# slicing works: [start:end:increment]

In [312]:
# Indexing
a = 'prettyLady'

print (a[0])
print (a[1])
print (a[2])
print (a[-1])
print (a[-2])
print (a[7])

p
r
e
y
d
a

In [12]:
# Slicing

a = 'prettyLady'
print(a[0:3]) # pre
print(a[6:10])
print(a[6:])
print(a[-4:-1]) 
print(a[-4:]) 
print (a[0:4:2])

pre
Lady
Lady
Lad
Lady
pe

In [ ]:
# Methods in String

In [16]:
a[-4: ] # Here increment is +1

'Lady'

# Methods in String

In [35]:
a = "Hello world"

print(a.upper()) # all element in upper case
print(a.lower()) # all element in lower case
print(a.title()) # 1st element of each word in upper case
print(a.capitalize()) # 1st element in upper case

HELLO WORLD
hello world
Hello World
Hello world

In [37]:
# Find Sub string:
a.find ("world")

6

In [39]:
# Find Sub string:
a.find("Hello")

0

In [41]:
# Replace a Sub String:
a.replace("world","python")

'Hello python'

In [45]:
# Split a String
a = "apple,banana,grape"
a.split(" ")

['apple,banana,grape']

In [47]:
# Split a String
a = "apple,banana,grape"
a.split(",")

['apple', 'banana', 'grape']

In [49]:
# Split a String
a = "apple!banana!grape"
a.split("!")

['apple', 'banana', 'grape']

# String operation

In [74]:
# Concatenate
a = "Hello"
b = "Max"
c = a+" "+b
print(c)

Hello Max

In [76]:
# Concatenate
a = "Hey"
b = "George"
c = a +" "+b
print(c)

Hey George

In [78]:
a = 2
b = 3
c = a + b
print(c)

5

In [80]:
# Lesson: + sign in Number data type refers to addtion while
# in string data type + sign indicates concatenation

# Escape Sequence in String

In [99]:
print("Hello\nWorld") # \n indicates a new line (enter)

Hello
World

In [101]:
print("Hey! How is your work\nMax") # \n indicates a new line (enter)

Hey! How is your work
Max

In [103]:
print("Hello\tWorld") #\t indiacates a tab space

Hello	World

In [105]:
# Lesson: \n indiactes a new line and \t indiactes tab space

# 3. List

In [117]:
# a list ia an ordered, mutable collection of elements
# List can store hetrogeneous elements
# List is indicated by [] square bracket

In [119]:
a = [1,2,3,4,'a','b','c']
print (a)

[1, 2, 3, 4, 'a', 'b', 'c']

In [121]:
type(a)

list

# Indexing and Slicing

In [126]:
a = [ 'apple' , 'banana',1,2,3]
a

['apple', 'banana', 1, 2, 3]

In [129]:
a[0]

'apple'

In [135]:
a[1]

'banana'

In [137]:
a[2]

1

In [139]:
a[3]

2

In [141]:
a[4]

3

In [145]:
a[0][0:3]

'app'

In [167]:
a = [10,20,30,40,50]
a

[10, 20, 30, 40, 50]

In [169]:
a[-1]

50

In [171]:
a[0]

10

In [173]:
a[1]

20

In [175]:
a[2]

30

In [177]:
a[0:3]

[10, 20, 30]

In [179]:
a[0::2]

[10, 30, 50]

In [181]:
a = [10,20,30,40,50]
a

[10, 20, 30, 40, 50]

In [183]:
a[3: ]

[40, 50]

In [185]:
a[-2: ]

[40, 50]

# List is Mutable

In [188]:
a = [10,20,30,40,50]
a

[10, 20, 30, 40, 50]

In [192]:
# Lesson: We are able to change the list -> List is Mutable
a[0] = 20
a

[20, 20, 30, 40, 50]

In [202]:
a = [ 10,20,30,'a','b','c'] # list is Mutable
a[4]= 'Z'
a

[10, 20, 30, 'a', 'Z', 'c']

In [206]:
# ADD Element
fruit = ['banana','orange']
fruit.append('cherry')
fruit

['banana', 'orange', 'cherry']

In [224]:
# Append: Add element at the end. it adds only 1 element
grocery = [ 'soap','oil','shampoo']
grocery.append('chocolate')
grocery

['soap', 'oil', 'shampoo', 'chocolate']

In [226]:
#Insert: Adds element at a specific index
grocery.insert(0,'orange')
grocery

['orange', 'soap', 'oil', 'shampoo', 'chocolate']

In [232]:
# extend works link concatenation in a list. Adding multiple elements at the same time.
a = [1,2,3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [236]:
# remove () = removes the first occuraence of the value
a = [1,2,3,4,2]
a.remove(2)
a

[1, 3, 4, 2]

In [242]:
# Pop Method removes the last element by default
fruits = ['apple', 'banana', 'orange']
fruits.pop( )
fruits

['apple', 'banana']

In [244]:
# Pop Method removes the last element which is higlighted
fruits = ['apple', 'banana', 'orange']
fruits.pop(0)
fruits

['banana', 'orange']

In [252]:
#sorting my list in Ascending order
number  = [1,3,4,5,7,10,6]
number.sort()
number

[1, 3, 4, 5, 6, 7, 10]

In [1]:
#sorting my list in Descending order
number  = [1,3,4,5,7,10,6]
number.sort(reverse=True)
number

[10, 7, 6, 5, 4, 3, 1]

In [ ]:
# Tuple

# Tuple

In [8]:
# A tuple is a immutable colections of elements
# They are faster than list because they are immutable
# Tuples allow duplicate data
# It is indicated by ()

In [24]:
a = (10, "python", 3, 14)
a

(10, 'python', 3, 14)

In [20]:
type (a)

tuple

In [30]:
z = ("Python", "Lanuage", "English")
z

('Python', 'Lanuage', 'English')

In [32]:
type (z)

tuple

# Indexing and Slicing in Tuple

In [146]:
fruits = ("apple", "banana","cherry")
fruits

('apple', 'banana', 'cherry')

In [148]:
# Name of variable -> [Write the index number]
fruits[0]

'apple'

In [150]:
# Indexing
fruits[1]

'banana'

In [152]:
# Indexing
fruits[2]

'cherry'

In [154]:

fruits = ("apple", "banana","cherry","grapes","oranges")

In [156]:
# Slicing (2-1 = 1 => start from 0 and go till 1)
fruits[0:2]

('apple', 'banana')

In [158]:
fruits[1:3]

('banana', 'cherry')

In [160]:
fruits[-1]

'oranges'

In [162]:
fruits[4]

'oranges'

In [164]:
fruits[3:5]

('grapes', 'oranges')

In [166]:
fruits[3:]

('grapes', 'oranges')

# Immutablity in Tuple

In [169]:
a = (10,20,30)
a

(10, 20, 30)

In [171]:
type(a)

tuple

In [173]:
# List = []
# Tuple = ()
# String = ""

In [175]:
# Replace 10 with 20
# Lesson: Tuple is Immutable which means once it's defined it cannot be changed
a[0] = 20

TypeError: 'tuple' object does not support item assignment

In [177]:
# Trying to change the element in the Tuple
a = (10,20,30)
b = list(a) # Converting tuple into list
b[0] = 20 # Assigning new value
a = tuple(b) # Converting list to tuple
a

(20, 20, 30)

# Operation in Tuple

In [180]:
# Concatenation 
a = (1,2,3)
b = (4,5,6)
result = a + b
result

(1, 2, 3, 4, 5, 6)

In [182]:
# Lesson: tuple should have multiple elements
a = ("A",)
a

('A',)

In [184]:
type(a)

tuple

In [186]:
a = ("A")
a

'A'

In [188]:
# Repetation
a = ("A",)*4
a

('A', 'A', 'A', 'A')

In [190]:
a = ["A"]
a

['A']

In [202]:
type(a)

list

# Dictionaries

In [209]:
# A dictionary is unordered, mutable collection of key-value pairs
# word: meaning
# word in python = key
# Meaning in python = value
# key must be unique and immutable
# Dictionary is indicated by {}

In [219]:
oxford = {"beautiful":"gorgeous"}
oxford

{'beautiful': 'gorgeous'}

In [221]:
type(oxford)

dict

In [225]:
a = {"name":"Max","age":"45","city":"New York"}
a

{'name': 'Max', 'age': '45', 'city': 'New York'}

In [227]:
# Get all the keys()
a.keys()

dict_keys(['name', 'age', 'city'])

In [229]:
# Get all the values()
a.values()

dict_values(['Max', '45', 'New York'])

In [233]:
# Get all the items() 
a.items()
oxford.items()

dict_items([('beautiful', 'gorgeous')])

In [235]:
a.items()

dict_items([('name', 'Max'), ('age', '45'), ('city', 'New York')])

In [237]:
# Access ceratin elements
a

{'name': 'Max', 'age': '45', 'city': 'New York'}

In [239]:
# Access the element in dictionary
a["name"]

'Max'

In [241]:
# Access the element in dictionary
a["age"]

'45'

In [243]:
# Access the element in dictionary
a["city"]

'New York'

In [245]:
# Modify a dictionary
person = {"name":"Alex","Age":"50"}
person

{'name': 'Alex', 'Age': '50'}

In [247]:
# Modify a dictionary
person ['Age']

'50'

In [251]:
# Modify a dictionary
person ['Age'] = 25
person

{'name': 'Alex', 'Age': 25}

In [255]:
# Add a new key: value pair in the dictionary 
person["city"] = "New York"
person

{'name': 'Alex', 'Age': 25, 'city': 'New York'}

In [257]:
person['salary'] = "$100,000"
person

{'name': 'Alex', 'Age': 25, 'city': 'New York', 'salary': '$100,000'}

In [259]:
# Delete a key: value pair
del person['Age']

In [261]:
person

{'name': 'Alex', 'city': 'New York', 'salary': '$100,000'}

# Set

In [270]:
# A set is an unordered, mutable collection of unique elements
# We use {} to define set

In [272]:
a = {1,2,3}
a

{1, 2, 3}

In [274]:
type(a)

set

In [278]:
a = {"key":"value"}
a

{'key': 'value'}

In [280]:
type(a)

dict

In [282]:
a = {1,2,3,4,5,5}
a

{1, 2, 3, 4, 5}

In [286]:
set(a)

{1, 2, 3, 4, 5}

In [284]:
type(a)

set

In [290]:
a = {"text", "me", "later", "this", "aftermoorn", "later"}
a

{'aftermoorn', 'later', 'me', 'text', 'this'}

In [302]:
a = {1,4,7,3,8,5,8,4,3,2,0}
a

{0, 1, 2, 3, 4, 5, 7, 8}

In [304]:
# Lesson: You cannot have similar elemetns in set
# Set automaticcally arrange itself in ascending order

In [306]:
# Add Element to a set
a.add(6)
a

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [320]:
# Add Element to a set
a.add("hello")
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 'hello'}

In [322]:
# Add Element to a set
a.add(7)
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 'hello'}

In [324]:
# Remove element to a set
a.remove("hello")
a

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [336]:
# Operations in Set

A = {1,2,3,4,5}
B = {5,4,6,7,8}

print(A | B) # | = Union
print(A & B)
print(A - B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [343]:
# Lesson: Indexing is not supported in set you need to convert it into list and then back to set
a = {1,2,3}
a

{1, 2, 3}

In [349]:
b = list(a)
b[0] = 5
a = set(b)
a

{2, 3, 5}

# Boolean (bool)

In [354]:
# A Boolean is a data type that has only 2 value: true and false
# True is treated as 1
# False is treated as 0

In [356]:
10>3

True

In [360]:
type(10<3)

bool

In [362]:
type(10>3)

bool

In [364]:
True + True

2

In [366]:
True + False

1

In [368]:
False+ False

0

In [370]:
False+ True

1

# Conclusion of Data Types in Python

In [439]:
# Number data type
a = 1
type(a)

int

In [441]:
#String
a = "abc"
type(a)

str

In [443]:
#list data type
a = [1,2,3]
type(a)

list

In [445]:
# Tuple data type ()
a = (1,2)
a
type(a)

tuple

In [447]:
# Dictionary curly brackets {}  -> In Dictionary: we have key: value pair
a = {"Name":"Max"}
type(a)

dict

In [435]:
# Set curly brackets {}
a = {1,2,3}
type(a)

In [451]:
# Boolean Data type
a = True
type(a)

bool

# Conditional Statment in Python

In [455]:
# In Python, conditional staements (if, if-else, if-elif-else) allow us to execute different blocks of code based on ceratain conditions
# These conditions are eveluated based on boolean expression (True or False)

# If statement

In [458]:
# The if staement checks a condition, and if it's true, it will execute the code

In [464]:
# Syntax of if Statement

if Condition:
    # Execude the code

In [468]:
a = 10
b = 7

if a > b:
    print("a is greater than b")

a is greater than b

In [473]:
age = 20
if age >18:
    print("You are eligible to vote")

You are eligible to vote

In [489]:
age = 15
if age > 18:
    print("You are eligible to vote")

In [477]:
# Lesson: The gap that you see in the if statement is called indentation.

In [491]:
# Syntax error
age = 20
if age >18:
print("You are eligible to vote")

IndentationError: expected an indented block after 'if' statement on line 2 (41965995.py, line 3)

In [493]:
a = 40
b = 20
c = 30

if a>b and a>c:
    print(a)
    print(b)
    print(c)

40
20
30

In [503]:
a = 10
b = 20


if a>b: 
    print(a)

In [511]:
# 2. if-else statement
# when the if condition is true, it will run the if condition
# when the if condition is false, it will run the else condition

In [ ]:
# Syntax of if-sles statement

if condition: 
    # Run the code if condition is True
else:
    # Run the code if condition is False

In [565]:
age = 25
if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [567]:
age = 15
if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [569]:
marks = 90

if marks > 85:
    print("Above Avg")
    print("Student is amazing")
else:
    print("Below Avg")
    print("Students needs to work hard")

Above Avg
Student is amazing

In [571]:
marks = 70

if marks > 85:
    print("Above Avg")
    print("Student is amazing")
else:
    print("Below Avg")
    print("Students needs to work hard")

Below Avg
Students needs to work hard

In [573]:
# 3. If-elif-else statement is used for multiple conditions

In [575]:
# 1 Condition - if
# 2 Condition - if - else
# Multiple Condition - if - elif -else

In [577]:
marks = 50

if marks >= 90:
    print("Grade is A")
elif marks >= 80:
    print("Grade is B")
elif marks >= 70:
    print("Grade is c")
else: 
    print("Grade is D")

Grade is D

In [579]:
marks = 45

if marks >= 90:
    print("Grade is A")
elif marks >= 80:
    print("Grade is B")
elif marks >= 70:
    print("Grade is c")
elif marks >= 60:
    print("Grade is D")
elif marks >= 50:
    print("Grade is E")
else: 
    print("Grade is F")

Grade is F

In [581]:
# Confuse

age = 18

if age == 18:
    print('YES')

YES

# Nested if

In [584]:
# We can nest one if statement inside another

if condition:
    if condition:

In [587]:
# Nested if (if inside if)
a = 10
if a>0:
    print("number is positive")
          
    if a % 2 == 0:
          print ("it is even")
    else: 
          print ("it is odd")
else: 
    print("number is negative")

number is positive
it is even

In [589]:
# Nested if (if inside if)
a = -10
if a>0:
    print("number is positive")
          
    if a % 2 == 0:
          print ("it is even")
    else: 
          print ("it is odd")
else: 
    print("number is negative")

number is negative

In [591]:
# Nested if (if inside if)
a = 1
if a>0:
    print("number is positive")
          
    if a % 2 == 0:
          print ("it is even")
    else: 
          print ("it is odd")
else: 
    print("number is negative")

number is positive
it is odd

In [610]:
marks = 89

if marks >= 50:
    print("You passed the exam")
    if marks >= 90:
        print("Excellent marks")
    elif marks >= 80:
        print("Good marks")
    else:
        print("You failed the exam")

You passed the exam
Good marks

In [ ]:
# Lesson: Only one statement will be execute -> Either if statement or elif statement or else statement

# Thank you!