# Pandas

In [3]:
# Pandas is a data science package which is used for performing data analysis and data manipulation

In [7]:
# Pandas has two main structures:
# 1) Series (1D Labeled array)
# 2) Data Frame(2D Labeled Array)

In [9]:
import numpy as np
a1 = np.array([100,200,300,400,500])
a1

array([100, 200, 300, 400, 500])

In [11]:
# Install pandas
import pandas as pd

In [13]:
# Create a Series

data = [10,20,30]
df = pd.Series(data)
df

0    10
1    20
2    30
dtype: int64

In [15]:
data = ['raz','michel','george']
df = pd.Series(data)
df

0       raz
1    michel
2    george
dtype: object

In [17]:
# Create a Series: Dictionary

data = {'a':1, 'b':2, 'c':3}
df = pd.Series(data)
df

a    1
b    2
c    3
dtype: int64

In [19]:
# Create a Series: Dictionary

data = {'George':100, 'max':82, 'stephanie':95}
df = pd.Series(data)
df

George       100
max           82
stephanie     95
dtype: int64

In [27]:
# Lesson: If i want to have default lables, i can use list 
# Lesson: if i want to create manual lables, i will have to use dictionary or i can provide index to my Series

In [29]:
data = np.array(['a','b','c','d']) # unlables array
df = pd.Series(data) #labeled array
df

0    a
1    b
2    c
3    d
dtype: object

In [34]:
data = np.array(['a','b','c','d']) # unlables array
df = pd.Series(data, index = ([1,2,3,4])) #labeled array
df

1    a
2    b
3    c
4    d
dtype: object

In [47]:
# Indexing in Series
data = np.array(['a','b','c','d']) # unlables array
df = pd.Series(data, index = ([1,2,3,4])) #labeled array
df

1    a
2    b
3    c
4    d
dtype: object

In [57]:
# Access the 1st element
df[1]

'a'

In [59]:
# Access the 1st element
df[2]

'b'

In [61]:
# Access the 1st element
df[3]

'c'

In [120]:
# Slicing in Series
data = np.array(['a','b','c','d']) # unlables array
df = pd.Series(data, index = ([1,2,3,4])) #labeled array
df

1    a
2    b
3    c
4    d
dtype: object

In [122]:
# start = 0
# stop = 2-1 = 1
df[0:2]

1    a
2    b
dtype: object

In [124]:
# Grab c and d
#start = 2
#stop = 4-1 =3 
df[2:4]

3    c
4    d
dtype: object

In [126]:
# Basic Operations on Series
# np.nan = There is no value in here = this in not 0 = Blank

df = pd.Series([1,2,np.nan,4,5])
df

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [128]:
# Sum (1 + 2 + 4 + 5)
df.sum()

12.0

In [130]:
# Mean or Average (1 + 2 + 4 + 5)/4
df.mean()

3.0

In [107]:
# Median -> It arrange the value in ascending order
# 1,2,4,5 -> Avg of middle 2 (Avg of 4+2)
# it will see the mid part
df.median()

200.0

In [112]:
df = pd.Series([200,100,300,50,500])
# Ascending order -> 50,100,200,300,500
df.median()

200.0

In [132]:
# Standrad Deviation
df.std()

1.8257418583505538

In [140]:
# Missing Values 
# Value of true = 1
# Value of False = 0
df.isnull()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [142]:
# Missing Values 
# 1 Million records
df.isnull().sum()

1

In [144]:
# 
df.notnull()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [146]:
df.notnull().sum()

4

In [152]:
# Conclusion

df = pd.Series([1,2,3], index = ['a','b','c'])
df

a    1
b    2
c    3
dtype: int64

In [ ]:
# Indexing & Slicing
df[0] # 1st element
df[1] # 2nd element
df[0:4] # start = 0, stop = 4-1 =3 -> print from index 0 till 3

In [ ]:
## Basic operation

# df.sum()
# df.mean()
# df.median()
# df.std()
# df.isnull()
# df.notnull()

In [ ]:
# Series us 1d Numpy
# 1D Numpy has no indexing associated with it
# Series has indexing associated with it